#profile-line {
  background-color: rgb(0, 95, 255);
  height: 5px;
  margin-bottom: 25px;
}

#profile-picture {
  height: 5em;
}

.userinformation {
  text-align: left;
  font-size: 12px;
}

.userinformation-username {
  font-size: 24px;
}

.userinformation-buttons {
  text-align: right;
}

.userinformation-description {
  text-align: left;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
